@media (prefers-color-scheme: light) {
  :root {
    --subscription-card-background: #e6e6f0;
    --subscription-card-gradient-background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 30%,
      rgba(246, 247, 249) 100%
    );
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --subscription-card-background: #161922;
    --subscription-card-gradient-background: linear-gradient(
      180deg,
      rgba(22, 25, 34, 1) 30%,
      rgba(27, 31, 43, 1) 100%
    );
  }
}

.subscription-card {
  background: var(--subscription-card-background);
  background: var(--subscription-card-gradient-background);
}
