:root {
  --subscription-card-background: #161922;
  --subscription-card-gradient-background: linear-gradient(
    180deg,
    rgba(22, 25, 34, 1) 30%,
    rgba(27, 31, 43, 1) 100%
  );
}

.subscription-card {
  background: var(--subscription-card-background);
  background: var(--subscription-card-gradient-background);
}
