@media (prefers-color-scheme: light) {
  .scroll-area {
    background: #e7e9ea;
    background: linear-gradient(
      180deg,
      rgba(231, 233, 234, 1) 0%,
      rgba(243, 244, 246, 1) 100%
    );
  }
}

@media (prefers-color-scheme: dark) {
  .scroll-area {
    background: #0a0e13;
    background: linear-gradient(
      180deg,
      rgba(10, 14, 19, 1) 20%,
      rgba(25, 29, 40, 1) 100%
    );
  }
}
